@font-face {
  font-family: 'Inter';
  src: url("/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/InterVariable-Italic.woff2") format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
    font-family: "Inter", sans-serif;

    --base-hsl: 0 0% 95%;
    --raised-hsl: 0 0% 100%;
    --raised-border-hsl: 0 0% 98%;
    --dividers-hsl: 0 0% 75%;
    --lowered-hsl: 0 0% 87%;
    --lowered-border-hsl: 0 0% 75%;
    --placeholder-hsl: 0 0% 90%;

    --text-hsl: 0 0% 15%;
    --text-inverted-hsl: 0 0% 90%;
    --text-secondary-hsl: 0 0% 45%;
    --text-secondary-inverted-hsl: 0 0% 75%;

    --green-text-hsl: 110 40% 25%;
    --green-background-hsl: 110 30% 80%;
    --amber-primary-hsl: 40 50% 25%;
    --amber-secondary-hsl: 40 50% 75%;
    --amber-background-hsl: 40 50% 35%;
    --red-primary-hsl: 0 50% 30%;
    --red-secondary-hsl: 0 40% 80%;
    --red-background-hsl: 0 50% 40%;

    --base: hsl(var(--base-hsl));
    --raised: hsl(var(--raised-hsl));
    --raised-border: hsl(var(--raised-border-hsl));
    --dividers: hsl(var(--dividers-hsl));
    --lowered: hsl(var(--lowered-hsl));
    --lowered-border: hsl(var(--lowered-border-hsl));
    --placeholder: hsl(var(--placeholder-hsl));

    --text: hsl(var(--text-hsl));
    --text-inverted: hsl(var(--text-inverted-hsl));
    --text-secondary: hsl(var(--text-secondary-hsl));
    --text-secondary-inverted: hsl(var(--text-secondary-inverted-hsl));

    --primary-text-hsl: 175 65% 20%;
    --primary-secondary-hsl: 175 65% 90%;
    --primary-text: hsl(var(--primary-text-hsl));
    --primary-secondary-hsl: hsl(var(--primary-secondary-hsl));

    --green-text: hsl(var(--green-text-hsl));
    --green-background: hsl(var(--green-background-hsl));
    --amber-primary: hsl(var(--amber-primary-hsl));
    --amber-secondary: hsl(var(--amber-secondary-hsl));
    --amber-background: hsl(var(--amber-background-hsl));
    --red-primary: hsl(var(--red-primary-hsl));
    --red-secondary: hsl(var(--red-secondary-hsl));
    --red-background: hsl(var(--red-background-hsl));


    --input-fill-hsla: 0 0% 0% / 0.05;
    --input-fill: hsla(var(--input-fill-hsla));


    --peach-text-hsl: 22 80% 30%;
    --peach-secondary-hsl: 22 75% 80%;
    --mauve-text-hsl: 266 80% 40%;
    --mauve-secondary-hsl: 266 80% 85%;
    --teal-text-hsl: 183 74% 20%;
    --teal-secondary-hsl: 183 45% 75%;

    --peach-text: hsl(var(--peach-text-hsl));
    --peach-secondary: hsl(var(--peach-secondary-hsl));
    --mauve-text: hsl(var(--mauve-text-hsl));
    --mauve-secondary: hsl(var(--mauve-secondary-hsl));
    --teal-text: hsl(var(--teal-text-hsl));
    --teal-secondary: hsl(var(--teal-secondary-hsl));
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--base);
    color: var(--text);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html, body {
    scrollbar-width: none;
}

html, body {
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

button {
    all: unset;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}